{% extends 'base.html' %}

{% block head %}
<style>
    .container {
        display: flex;
    }

    .info {
        flex: 50%;
    }

    .upload {
        margin-left: 2rem;
    }
</style>
{% endblock %}
{% block body %}
<h1>"STIMA" Route Finder</h1>
<h2>Aplikasi berbasis web untuk mencari rute berdasarkan file input</h2>
<br>
<div class="container">

    <div class="info">
        <h3>Cara menggunakan aplikasi</h3>
        <hr>
        <ol>
            <li><p>Upload file matriks dengan format sebagai berikut:<br>
                <img src="{{url_for('static', filename='matriks.PNG')}}" width=500 />
                <br>Pastikan formatnya sudah benar dan <strong>tidak ada spasi pada akhir baris</strong></p>
                <p><strong>Keterangan:</strong></p>
                <ul>
                    <li>Baris pertama adalah jumlah simpul</li>
                    <li>Isikan koordinat simpul pada baris kedua hingga selesai</li>
                    <li>Isikan matriks ketetanggaan dengan jarak antar dua simpul yang berhubungan</li>
                </ul>
                <br>
            </li>
            <li>Klik tombol "Baca File</li><br>
            <li>Pilih lokasi awal dan tujuan, sesuai dengan nama pada lokasi pada file matriks</li><br>
            <li>Klik tombol "Cari Rute"</li><br>
            <li>Aplikasi akan mengarahkan Anda ke halaman hasil</li>
        </ol>
    </div>
    
    <div class="info upload">
        <h3>Upload file matriks</h3>
        <hr>
        <input id="input-file" type="file" name="datafile" size="40">
        <br><br>
        <button id="read">Baca File</button>
        <br><br>
        <div id="choices"></div>
        <br>
    </div>
</div>

<script type = "text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</script>
{% endblock %}